services:
  namenode:
    image: bde2020/hadoop-namenode:latest
    container_name: namenode
    environment:
      - CLUSTER_NAME=fraud_cluster
      - CORE_CONF_fs_defaultFS=hdfs://namenode:8020
    ports:
      - "9870:9870"
      - "8020:8020"
    volumes:
      - namenode_data:/hadoop/dfs/name
    networks:
      - bigdata

  datanode:
    image: bde2020/hadoop-datanode:latest
    container_name: datanode
    depends_on:
      - namenode
    environment:
      - CORE_CONF_fs_defaultFS=hdfs://namenode:8020
      - SERVICE_PRECONDITION=namenode:8020
    volumes:
      - datanode_data:/hadoop/dfs/data
    networks:
      - bigdata

  spark-master:
    image: bde2020/spark-master:latest
    container_name: spark-master
    depends_on:
      - namenode
    ports:
      - "7077:7077"
      - "8080:8080"
    networks:
      - bigdata

  spark-worker:
    image: bde2020/spark-worker:latest
    container_name: spark-worker
    depends_on:
      - spark-master
    environment:
      - SPARK_MASTER_URL=spark://spark-master:7077
    networks:
      - bigdata

  jupyter:
    image: jupyter/pyspark-notebook:latest
    container_name: jupyter
    depends_on:
      - spark-master
      - namenode
    ports:
      - "8888:8888"
    volumes:
      - .:/home/jovyan/work
    environment:
      - JUPYTER_ENABLE_LAB=yes
    networks:
      - bigdata

  grafana:
    image: grafana/grafana:10.3.3
    container_name: grafana
    ports:
      - "3001:3000"
    volumes:
      - grafana_data:/var/lib/grafana
    networks:
      - bigdata

volumes:
  namenode_data:
  datanode_data:
  grafana_data:

networks:
  bigdata:
    driver: bridge
